<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Strategy, Consulting, Digital | Project &amp; Planning</title>
</h:head>
<h:body style="padding-top: 60px">
        <b:navBar brand="" brandHref="#" inverse="true" fixed="top" fluid="true">
            <h:graphicImage value="../logo1.png" />
            <b:navbarLinks pull="right">
                <b:navLink value="Visualizza lista" href="http://localhost:8080/PePMG/pages/customers/listf.xhtml"></b:navLink>
                <b:navLink value="Index" href="http://localhost:8080/PePMG/pages/index.xhtml"></b:navLink>
                <b:navLink value="Help" href="#"></b:navLink>
            </b:navbarLinks>
        </b:navBar>
        
        <b:container fluid="true">
            <b:row>
                <b:column col-sm="3" col-md="2" styleClass="sidebar">
                    <b:listLinks>
                        <b:navLink header="" />
                        <b:dropButton look="primary" value="Fornitore">
  						<b:navLink value="Azienda" href="http://localhost:8080/PePMG/pages/customers/listc.xhtml"></b:navLink> 
  						<b:navLink value="Libero Professionista" href="http://localhost:8080/PePMG/pages/customers/listf.xhtml"></b:navLink>
   						</b:dropButton>
                        </b:listLinks>
                    <b:listLinks>
                        <b:dropButton look="primary" value="Cliente">
                        <b:navLink value="Azienda" href="http://localhost:8080/PePMG/pages/customers/listc.xhtml"></b:navLink>
                        <b:navLink value="Libero Professionista" href="http://localhost:8080/PePMG/pages/customers/listf.xhtml"></b:navLink>
                        </b:dropButton>
                        </b:listLinks>
                </b:column>
                
        <b:column col-xs="9" col-md="10" styleClass="show-grid">        
		<h:form>
			<h:panelGrid columns="1">
		
				<h:inputHidden id="id" value="#{freeLancerAddController.freeLancer.id}" />
				
				<h:outputLabel value="Nome:" for="name" />
				<h:inputText id="name" value="#{freeLancerAddController.freeLancer.name}" />
				<h:message for="name" style="color:red" />

				<h:outputLabel value="Cognome:" for="surname" />
				<h:inputText id="surname" value="#{freeLancerAddController.freeLancer.surname}" />
				<h:message for="surname" style="color:red" />

				<h:outputLabel value="Codice Fiscale:" for="fiscalCode" />
				<h:inputText id="fiscalCode" value="#{freeLancerAddController.freeLancer.fiscalCode}" />
				<h:message for="fiscalCode" style="color:red" />
				
				<h:outputLabel value="Partita Iva:" for="iva" />
				<h:inputText id="iva" value="#{freeLancerAddController.freeLancer.iva}" />
				<h:message for="iva" style="color:red" />
				
				<h:outputLabel value="E-Mail:" for="email" />
				<h:inputText id="email" value="#{freeLancerAddController.freeLancer.email}" />
				<h:message for="email" style="color:red" />
				
				<h:outputLabel value="Telefono:" for="telephone" />
				<h:inputText id="telephone" value="#{freeLancerAddController.freeLancer.telephone}" />
				<h:message for="telephone" style="color:red" />
				
				<h:outputLabel value="Indirizzo:" for="address" />
				<h:inputText id="address" value="#{freeLancerAddController.freeLancer.address}" />
				<h:message for="address" style="color:red" />
				
				<h:outputLabel value="Città:" for="city" />
				<h:inputText id="city" value="#{freeLancerAddController.freeLancer.city}" />
				<h:message for="city" style="color:red" />
				
				<h:outputLabel value="Regione:" for="district" />
				<h:inputText id="district" value="#{freeLancerAddController.freeLancer.district}" />
				<h:message for="district" style="color:red" />

			</h:panelGrid>
			<br/>
			<h:commandButton value="submit" action="#{freeLancerAddController.addFreeLancer}">
				<f:ajax execute="@form" render="@form" />
			</h:commandButton>
		</h:form>
		</b:column>
		</b:row>
	</b:container>
	<style type="text/css">
        .sub-header {
            border-bottom: 1px solid #f5f5f5;
            padding-bottom: 10px;
        }
        .navbar-fixed-top {
            border: 0 none;
            background: #034A88;
        }
        .sidebar {
            height: 100%;
        }
        .nav-list {
            margin-bottom: 20px;
            margin-left: -20px;
            margin-right: -21px;
        }
        .nav-list > li > a {
            padding-left: 20px;
            padding-right: 20px;
        }
        .nav-list > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
            background-color: #428bca;
            color: #fff;
        }
        .main {
            padding: 20px;
        }
        @media (min-width: 768px) {
        .main {
            padding-left: 40px;
            padding-right: 40px;
        }
        }
        .main .page-header {
            margin-top: 0;
        }
        .placeholders {
            margin-bottom: 30px;
            text-align: center;
        }
        .placeholders h4 {
            margin-bottom: 0;
        }
        .placeholder {
            margin-bottom: 20px;
        }
        .placeholder img {
            border-radius: 50%;
            display: inline-block;
        }
        </style>
	</h:body>
</html>
