<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Strategy, Consulting, Digital | Project &amp; Planning</title>
</h:head>

<h:body style="padding-top: 60px">
	<span>#{companyListController.typeCompany == 0 ? 'Cliente' :'Fornitore'}</span>
	<b:navBar brand="" brandHref="#" inverse="true" fixed="top"
		fluid="true">
		<h:graphicImage value="../logo1.png" href="#"/> 
		<b:navbarLinks pull="right">
			<b:navLink value="Aggiungi" href="http://localhost:8080/PePMG/pages/customers/addc.xhtml?typeCompany=1"></b:navLink>
                <b:navLink value="Index" href="http://localhost:8080/PePMG/pages/index.xhtml"></b:navLink>
		</b:navbarLinks>
	</b:navBar>

	<b:container fluid="true">
		<b:row>
			<b:column col-xs="3" col-md="2" styleClass="sidebar">
				<b:listLinks>
					<b:navLink header="" />
					<b:dropButton look="primary" value="Fornitore">
						<b:navLink value="Azienda"
							href="http://localhost:8080/PePMG/pages/customers/listc.xhtml?typeCompany=1"></b:navLink>
						<b:navLink value="Libero Professionista"
							href="http://localhost:8080/PePMG/pages/customers/listf.xhtml?typeCompany=1"></b:navLink>
					</b:dropButton>
				</b:listLinks>
				<b:listLinks>
					<b:dropButton look="primary" value="Cliente">
						<b:navLink value="Azienda"
							href="http://localhost:8080/PePMG/pages/customers/listc.xhtml?typeCompany=0"></b:navLink>
						<b:navLink value="Libero Professionista"
							href="http://localhost:8080/PePMG/pages/customers/listf.xhtml?typeCompany=0"></b:navLink>
					</b:dropButton>
				</b:listLinks>
			</b:column>

			<b:column col-xs="9" col-md="10" styleClass="show-grid">
				<h:form>
					<b:dataTable value="#{companyListController.companies}"
						var="company">

						<b:dataTableColumn label="Nome azienda" value="#{company.businessName}" />
						<b:dataTableColumn label="E-Mail" value="#{company.email}" />
						<b:dataTableColumn label="Telefono" value="#{company.telephone}" />
						<b:dataTableColumn label="Indirizzo sede legale" value="#{company.legalAddress}" />
						<b:dataTableColumn label="Indirizzo sede operativa" value="#{company.headQuarter}" >
						

							<b:pillLinks>
								<b:commandButton iconAwesome="fa-trash-o"
									styleClass="btn btn-primary"
									action="#{companyDeleteController.deleteCompany(company.id)}" />
								<b:navLink iconAwesome="fa-external-link" active="true"
									href="http://localhost:8080/PePMG/pages/customers/addc.xhtml?id=${company.id}" />
							</b:pillLinks>
						</b:dataTableColumn>
					</b:dataTable>
				</h:form>
				
			</b:column>
		</b:row>
	</b:container>

	<style type="text/css">
.sub-header {
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 10px;
}

.navbar-fixed-top {
	border: 0 none;
	background: #034A88;
}

.sidebar {
	height: 100%;
}

.nav-list {
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -21px;
}

.nav-list>li>a {
	padding-left: 20px;
	padding-right: 20px;
}

.nav-list>.active>a, .nav-sidebar>.active>a:hover, .nav-sidebar>.active>a:focus
	{
	background-color: #428bca;
	color: #fff;
}

.main {
	padding: 20px;
}

@media ( min-width : 768px) {
	.main {
		padding-left: 40px;
		padding-right: 40px;
	}
}

.main .page-header {
	margin-top: 0;
}

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

.placeholders h4 {
	margin-bottom: 0;
}

.placeholder {
	margin-bottom: 20px;
}

.placeholder img {
	border-radius: 50%;
	display: inline-block;
}
</style>
</h:body>
</html>
