<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      
    <h:head>
        <title>Strategy, Consulting, Digital | Project &amp; Planning</title>
    </h:head>
    
    <h:body style="padding-top: 60px">
        <b:navBar brand="" brandHref="#" inverse="true" fixed="top" fluid="true">
            <h:graphicImage value="../logo1.png" />
           <b:navbarLinks pull="right">
			<b:navLink value="Aggiungi" href="http://localhost:8080/PePMG/pages/accaunting/adda.xhtml"></b:navLink>
                <b:navLink value="Index" href="http://localhost:8080/PePMG/pages/index.xhtml"></b:navLink>
		</b:navbarLinks>
        </b:navBar>
        
        <b:container fluid="true">
            <b:row>
                <b:column col-sm="3" col-md="2" styleClass="sidebar">
                    	<b:listLinks>
                        <b:navLink header="" />
                        <b:dropButton look="primary" value="Commesse">
                        <b:navLink value="Azienda" href="http://localhost:8080/PePMG/pages/accaunting/lista.xhtml"></b:navLink>
                        <b:navLink value="Libero Professionista" href="http://localhost:8080/PePMG/pages/accaunting/lista.xhtml"></b:navLink>
                        </b:dropButton>
                        </b:listLinks>
                        <b:listLinks>
                        <b:dropButton look="primary" value="Fornitore">
  						<b:navLink value="Azienda" href="http://localhost:8080/PePMG/pages/customers/listc.xhtml"></b:navLink> 
  						<b:navLink value="Libero Professionista" href="http://localhost:8080/PePMG/pages/customers/listf.xhtml"></b:navLink>
						</b:dropButton>
                        </b:listLinks>
                    	<b:listLinks>
                        <b:dropButton look="primary" value="Cliente">
                        <b:navLink value="Azienda" href="http://localhost:8080/PePMG/pages/customers/listc.xhtml"></b:navLink>
                        <b:navLink value="Libero Professionista" href="http://localhost:8080/PePMG/pages/customers/listf.xhtml"></b:navLink>
                        </b:dropButton>
                        </b:listLinks>
                        
                        
                        
                        
                        
                        
                        
                </b:column>
                <b:column col-xs="9" col-md="10" styleClass="show-grid">
		<h:form>
			<h:panelGrid columns="1">

				<h:inputHidden id="id" value="#{accauntingDataAddController.accauntingData.id}" />

				<h:outputLabel value="Importo:" for="amount" />
				<h:inputText id="amount"
					value="#{accauntingDataAddController.accauntingData.amount}" />
				<h:message for="amount" style="color:red" />

				<b:datepicker id="orderDate" mode="toggle-icon" showWeek="true"
                	firstDay="1" value="#{accauntingDataAddController.accauntingData.orderDate}" required="true"
                	label="Data:"/>
    			<b:message for="orderDate" style="color:red" />

			</h:panelGrid>
			<br />
			<h:commandButton value="submit"
				action="#{accauntingDataAddController.addAccauntingData}">
				<f:ajax execute="@form" render="@form" />
			</h:commandButton>
		</h:form>
		</b:column>
		</b:row>
	</b:container>
	<style type="text/css">
.sub-header {
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 10px;
}

.navbar-fixed-top {
	border: 0 none;
	background: #034A88;
}

.sidebar {
	height: 100%;
}

.nav-list {
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -21px;
}

.nav-list>li>a {
	padding-left: 20px;
	padding-right: 20px;
}

.nav-list>.active>a, .nav-sidebar>.active>a:hover, .nav-sidebar>.active>a:focus
	{
	background-color: #428bca;
	color: #fff;
}

.main {
	padding: 20px;
}

@media ( min-width : 768px) {
	.main {
		padding-left: 40px;
		padding-right: 40px;
	}
}

.main .page-header {
	margin-top: 0;
}

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

.placeholders h4 {
	margin-bottom: 0;
}

.placeholder {
	margin-bottom: 20px;
}

.placeholder img {
	border-radius: 50%;
	display: inline-block;
}
</style>
</h:body>
</html>

		
	